
h1{
	font-size: 70px;
	font-weight: normal;
	color: #64b5f6 ;
	text-shadow: 3px 3px 3px #1a237e ;
	margin: 20px;
}
h3{
	color: #64b5f6 ;
	text-shadow: 3px 3px 3px #1a237e ;
}
.container{
	margin-bottom: 20px;
	width: 80%;
	border-radius: 20px;
	box-shadow: 5px 5px 15px #1a231f;
	background: #303f9f ;
}

.box span{
 text-align: center;
 vertical-align: middle;
 margin-top:20px;
 width: 100%;
}
.box .contact{
	width: 300px
}
.box:nth-child(3) span input{
	height:200px;
}
h3{
	font-size: 30px;
	margin-top:20px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.important h3{
	font-size: 20px;
	margin-left:20px;
}
.box input{
	margin: 0;
	border-radius: 10px;
	border:solid 5px #1a237e ;
	padding:13px 10px 10px 15px;
	outline: none;
	background: #64b5f6 ;
	color:#1a237e ;
	font-size: 20px;
	transition: 0.3s;
	width: 80%;
	font-family:"Certege", "QuickTechBold";
}

.box input:focus{
	box-shadow: 0 3px 10px 4px #1a231f
}

input[type="submit"]{
	 margin-top:70px;
	 margin-bottom: 70px;
	 color: #1a237e  ;
	 width:170px;
	 font-weight: bold;
	 animation: puls 0.8s normal infinite;
	  transform: translateY(-25px);
	  font-family:"Certege", "QuickTechBold";
}
input[type="submit"]:hover{
	 animation: puls 0.8s normal infinite, yes 0.8s normal infinite;
}
@keyframes puls{
	0%{
       box-shadow: 0 0 1px 0 rgba(0,0,0,0.15)
	}
	100%{
         box-shadow: 0 0 1px 30px rgba(0,0,0,0)
	}
}
@keyframes yes{
	0%,100%{
      transform: translateY(-25px);
	}
	50%{
      transform: translateY(-15px);
	}
}
textarea{
	margin: 0;
	padding: 5px 0 0 5px;
	width:90%;
	height:300px;
	background: #64b5f6 ;
	border:solid 5px #1a237e ;
	border-radius: 10px;
	font-size: 30px;
	color:#1a237e ;
	font-family:"Certege", "QuickTechBold";
}
