@media  screen and (max-width:938px){
.knopka{
		display: block;
		cursor: pointer;
		z-index: 3
		}
.knopka:hover{
	border:solid 3px #bbdefb;
}
.knopka:hover .lan{
	background:#bbdefb;
}
#move{
			background: #303f9f ;
         position: fixed;
         width: 34%;
         left:-36%;
         top:0px;
         height: 100vh;
         transition: 0.3s;
		}

    .mave{
    	transform:translateX(105%)
    }
    .up{
    	transform: rotate(180deg)
    }
   .len1{
        transform: translateY(8px) rotate(45deg);
   }
   .len2{
    	opacity: 0
   }
   .len3{
		 transform: translateY(-8px) rotate(-45deg);
   }
.logo{
		font-size: 45px;
		margin-top:60px;
}
.card{
	margin-top:0;
	margin-bottom: 0
}

.overflowbox{
	display: block;
	text-align: center;
	overflow: auto;
}
aside .overflowbox a{
	padding: 20px 0;
	margin: 0;
	background:  #303f9f;
	max-width: 325px;
	width: 325px;
	border-bottom: solid 5px #1976d2;
	font-size: 20px
}
aside .overflowbox a:first-of-type{
	margin-top:65px;
	border-top: solid 5px #1976d2;
}
aside .overflowbox a:hover{
	background: #1976d2;
 }
 .buttonbox{
	margin: 0
}
.container{
	width: 98%;
}
h1{
	font-size: 50px
}
}	



@media  screen and (max-width:450px){
	.cardconmax{
	min-width: 100%
}
.card-container{
	max-width:37%; 
	margin: 4px;
}
 h1{
	font-size: 30px
}
 }

@media  screen and (max-height:410px){
	.overflowbox{
		height:100vh;
	}

}
